<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var xValues =  ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"];
var yValues = [{{userCountByMonth.[1]}}, {{userCountByMonth.[2]}}, {{userCountByMonth.[3]}}, {{userCountByMonth.[4]}}, {{userCountByMonth.[5]}}, {{userCountByMonth.[6]}}, {{userCountByMonth.[7]}}, {{userCountByMonth.[8]}}, {{userCountByMonth.[9]}}, {{userCountByMonth.[10]}}, {{userCountByMonth.[11]}}, {{userCountByMonth.[12]}}];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Bảng số lượng thành viên 2023"
    },
  }
});
</script>

</body>
</html>
