<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="userDashboard.css">
</head>
<style>
  /* Thêm tùy chỉnh CSS nếu cần thiết */
  .card {
    width: 200px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #userIcon {
    color: #007bff;
  }

  #userCount {
    color: #6c757d;
  }
</style>

<body>
  <div class="container mt-5" >
    <div class="row" >
      <div class="col">
        <div class="card" style="height: 150px; width: 280px; background-color: #A855F6;">
          <div class="card-body" >
            <div id="userIcon" class="display-4">
            </div>
            <div class="h4 mt-3" style="color: #ffffff;">Tống số sản phẩm</div>
            <div id="productCount" class="h4 mt-3" style="color: #ffffff;">{{ sumProduct }}</div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 150px; width: 280px; background-color: #3C82F6;">
          <div class="card-body">
            <div id="userIcon" class="display-4">
            </div>
            <div class="h4 mt-3" style="color: #ffffff;">Số lượng thành viên</div>
            <div id="userCount" class="h4 mt-3" style="color: #ffffff;">{{ membercount.user }}</div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 150px; width: 280px; background-color: #25C55F;">
          <div class="card-body">
            <div id="userIcon" class="display-4">
            </div>
            <div class="h4 mt-3" style="color: #ffffff;">Đơn hàng hoàn thành</div>
            <div id="orderDone" class="h4 mt-3" style="color: #ffffff;">{{ statusCount.orderCount }}</div>
          </div>

        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="card" style="height: 150px; width: 280px; background-color: #06B6D5;">
          <div class="card-body">
            <div id="userIcon" class="display-4">

            </div>
            <div class="h4 mt-3" style="color: #ffffff;">Đơn hàng đã hủy</div>
            <div id="orderCancel" class="h4 mt-3" style="color: #ffffff;">{{ statusCount.cancelCount }}</div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 150px; width: 280px; background-color: #3630A2;">
          <div class="card-body">
            <div id="userIcon" class="display-4">
            </div>
            <div class="h4 mt-3" style="color: #ffffff;">Số lượng Shipper</div>
            <div id="shipper" class="h4 mt-3" style="color: #ffffff;">{{ countShipper}}</div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card" style="height: 150px; width: 280px; background-color: #BD175C;">
          <div class="card-body">
            <div id="userIcon" class="display-4">

            </div>
            <div class="h4 mt-3" style="color: #ffffff;">Đơn hàng đang giao</div>
            <div id="shipping" class="h4 mt-3" style="color: #ffffff;">{{ statusCount.shipping }}</div>
          </div>

        </div>
      </div>
      
    </div>
  </div>

  <script src="userDashboard.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>