<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="userDashboard.css">
</head>
<style>
  /* Thêm tùy chỉnh CSS nếu cần thiết */
  .card {
    width: 200px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #userIcon {
    color: #007bff;
  }

  #userCount {
    color: #6c757d;
  }
</style>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <div id="userIcon" class="display-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon"
                version="1.1">
                <path
                  d="M774.8 327.8c-50.6-4.8-97.3 4.3-131 22.7 15.9 20.3 26.1 52.1 26.1 87.9 0 29.2-6.8 55.7-17.9 75.5 28.3 16.9 64.5 28.8 104.6 32.6 96.7 9.2 179.2-32.4 184.2-92.8s-69.3-116.7-166-125.9z"
                  fill="#FFB89A" />
                <path
                  d="M67.2 494l1 31c2.2 67.7 26.2 133.6 69.6 190.4 41.6 54.5 99.6 99.2 167.9 129.3 15.2 6.7 32.9-0.2 39.5-15.4 6.7-15.2-0.2-32.9-15.4-39.5-59-26-108.9-64.3-144.4-110.8-29-38-47.5-80.7-54.4-125h762.6c-7 44.8-25.8 87.9-55.4 126.3-36.1 46.8-86.8 85.2-146.8 110.9-15.2 6.5-22.2 24.2-15.7 39.4 4.9 11.4 15.9 18.2 27.6 18.2 4 0 8-0.8 11.8-2.4 144.5-62.2 237-185.3 241.3-321.4l1-31H67.2z"
                  fill="#45484C" />
                <path
                  d="M591.9 800.1h-159c-35.2 0-64.1 28.8-64.1 64.1s28.8 64.1 64.1 64.1h159c35.2 0 64.1-28.8 64.1-64.1s-28.9-64.1-64.1-64.1z m0 68.1h-159c-2.1 0-4.1-2-4.1-4.1s2-4.1 4.1-4.1h159c2.1 0 4.1 2 4.1 4.1s-2 4.1-4.1 4.1z"
                  fill="#45484C" />
                <path
                  d="M498.1 373.5c-9.6-13.5-28.4-16.6-41.9-6.9-13.5 9.6-16.6 28.4-6.9 41.9 10.8 15.1 16.6 33 16.6 51.7 0 16.6 13.4 30 30 30s30-13.4 30-30c0-31.4-9.6-61.4-27.8-86.7zM432.4 321.8c-17.7-7.1-36.3-10.7-55.5-10.7-82.2 0-149 66.8-149 149 0 16.6 13.4 30 30 30s30-13.4 30-30c0-49.1 39.9-89 89-89 11.5 0 22.6 2.1 33.1 6.4 15.4 6.2 32.8-1.3 39-16.7 6.2-15.4-1.2-32.9-16.6-39z"
                  fill="#33CC99" />
                <path
                  d="M549.4 274.7c-46.7-45.6-107.7-70.8-171.8-70.8-64.1 0-125.1 25.1-171.8 70.8-46.1 45.1-74 106-78.6 171.4-1.2 16.5 11.3 30.9 27.8 32 16.5 1.1 30.9-11.3 32-27.8 3.5-50.8 25.1-97.9 60.7-132.7 35.4-34.6 81.5-53.7 129.9-53.7 48.3 0 94.5 19.1 129.9 53.7 35.6 34.8 57.1 81.9 60.7 132.7 1.1 15.8 14.3 27.9 29.9 27.9 0.7 0 1.4 0 2.1-0.1 16.5-1.2 29-15.5 27.8-32-4.6-65.4-32.5-126.3-78.6-171.4zM895.1 385.9c-11.5-19.4-27.7-36.6-48.1-51.2l53.9-58.3c11.2-12.2 10.5-31.2-1.7-42.4s-31.2-10.5-42.4 1.7l-65 70.4c-5-1.8-10.1-3.5-15.3-5l82.4-159.2c7.6-14.7 1.9-32.8-12.9-40.4-14.7-7.6-32.8-1.9-40.4 12.9l-91.2 176.3c-5.5-0.3-11.1-0.5-16.7-0.5-21.9 0-43.5 2.4-64.3 7.2-16.1 3.7-26.2 19.8-22.5 36 3.7 16.1 19.8 26.2 36 22.5 16.3-3.8 33.4-5.7 50.7-5.7 43.6 0 84.2 11.8 114.3 33.3 27.1 19.3 42 44 42 69.5 0 16.6 13.4 30 30 30s30-13.4 30-30c0-23.5-6.3-46.1-18.8-67.1z"
                  fill="#45484C" />
              </svg>
            </div>
            <div class="h4 mt-3">Tống số sản phẩm</div>
            <div id="productCount" class="h4 mt-3">{{ sumProduct }}</div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <div id="userIcon" class="display-4">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                width="100px" height="100px" id="Layer_1" viewBox="0 0 512.032 512.032" xml:space="preserve">
                <rect x="256.8" y="199.072" style="fill:#FF6600;" width="191.344" height="16.384" />
                <rect x="384.48" y="158.912" width="127.552" height="16.384" />
                <rect x="256.8" y="118.752" style="fill:#FF6600;" width="63.776" height="16.384" />
                <rect x="384.48" y="118.752" width="63.776" height="16.384" />
                <rect x="193.12" y="239.232" style="fill:#FF6600;" width="63.776" height="16.384" />
                <rect x="320.64" y="239.232" width="127.552" height="16.384" />
                <rect x="410.352" y="319.552" width="63.776" height="16.384" />
                <rect x="282.8" y="319.552" style="fill:#FF6600;" width="63.776" height="16.384" />
                <rect x="219.008" y="279.392" width="63.776" height="16.384" />
                <rect x="346.576" y="279.392" style="fill:#FF6600;" width="63.776" height="16.384" />
                <rect x="282.8" y="359.712" width="127.552" height="16.384" />
                <circle cx="109.136" cy="214.288" r="53.84" />
                <path
                  d="M106.592,393.28L54.576,280.496c0,0-54.576,0.72-54.576,50.928s0,61.84,0,61.84S106.96,393.28,106.592,393.28z" />
                <path
                  d="M111.68,393.28l52.016-112.768c0,0,54.576,0.72,54.576,50.928s0,61.84,0,61.84S111.312,393.28,111.68,393.28z" />
                <polygon style="fill:#22ACDD;"
                  points="109.136,280.496 71.664,280.496 109.136,363.44 146.608,280.496 " />
              </svg>
            </div>
            <div class="h4 mt-3">Số lượng thành viên</div>
            <div id="userCount" class="h4 mt-3">{{ membercount.user }}</div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <div id="userIcon" class="display-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon"
                version="1.1">
                <path
                  d="M906.179468 202.493801h-79.1791v-45.670405c0-12.405395-10.10882-22.514214-22.511143-22.514215-12.344985 0-22.39442 10.10882-22.39442 22.514215v45.670405h-93.69677v-45.670405c0-12.405395-10.111891-22.514214-22.514214-22.514215-12.341914 0-22.39442 10.10882-22.39442 22.514215v45.670405h-93.69677v-45.670405c0-12.405395-10.10882-22.514214-22.511143-22.514215-12.344985 0-22.397491 10.10882-22.397491 22.514215v45.670405h-93.69677v-45.670405c0-12.405395-10.10882-22.514214-22.454829-22.514215-12.402323 0-22.451757 10.10882-22.451757 22.514215v45.670405h-79.1791c-11.638504 0-21.1033 9.464796-21.103301 21.1033v42.498408l-37.854064-37.794679c-20.278049-20.456205-53.549202-20.221735-74.062745 0.291808l-42.67554 42.615131c-20.513542 20.573952-20.748012 53.844081-0.352217 74.239877L265.99824 500.334874v364.14584c0 11.638504 9.464796 21.1033 21.103301 21.103301h619.077927c11.638504 0 21.1033-9.464796 21.1033-21.103301V223.597101c0-11.638504-9.46582-21.1033-21.1033-21.1033z"
                  fill="#27323A" />
                <path
                  d="M186.130065 356.587518l53.254324-53.194938 274.72891 274.711504-2.175756 51.02123-50.963892 2.233094h-0.057338z"
                  fill="#79CCBF" />
                <path
                  d="M579.887693 716.884573c-43.145504-16.399571-99.280017-41.969059-103.041772-43.027757-0.294879-0.291807-0.999312-0.999312-1.411938-1.408866 0.941974-8.8177 2.05801-18.635737 2.585311-23.513527l0.412626-0.412625 51.668325-1.29112 1.176444-51.610987 0.174061-0.117747c4.878814-0.586686 14.813573-1.763131 23.74902-2.762443 0.412626 0.412626 1.059721 1.117059 1.411937 1.411938 1.05665 3.527285 26.921017 59.544051 43.497721 102.571808-7.111907-1.528661-13.462044-0.938903-17.341546 2.940599-3.761755 3.818068-4.40885 10.10882-2.880189 17.220727z"
                  fill="#FFFFFF" />
                <path
                  d="M878.729102 838.561057H762.167949c38.558497-11.872974 78.589342-28.449678 116.561153-51.373446v51.373446z"
                  fill="#F4CE73" />
                <path
                  d="M649.014286 832.096245c51.607916-29.039436 108.919897-69.53922 141.778425-102.632217 16.164078 14.518694 40.560193 27.568112 63.189083 36.559873-69.771642 39.560881-146.773961 58.0758-204.967508 66.072344z"
                  fill="#79CCBF" />
                <path
                  d="M878.729102 743.747228c-23.453117-7.936135-68.302366-29.096773-74.886972-42.028445-2.293503-4.466188-6.641944-7.464124-11.638505-8.053881-4.938199-0.644024-9.934759 1.294191-13.167165 5.116354-48.788136 56.663862-188.333467 138.48561-219.605996 139.779801H312.671029V547.008687l144.540867 144.540867 0.294879-0.057337 2.997936 2.997936c0.529349 0.586686 1.233782 0.999312 2.115348 1.233782l171.463932 64.540611c0.938903 0.23447 1.938215 0.060409 2.937527-0.117746 1.706817-0.174061 3.409538-0.704433 4.64332-1.938215 1.119107-1.117059 1.763131-2.527973 2.059033-3.939911 0.412626-1.294191 0.469963-2.58531 0.117747-3.761755l-65.30443-170.639704c-0.352217-0.824228-0.704433-1.528661-1.294191-2.175756l-2.88019-2.88019 0.06041-0.469963-261.752188-261.574032v-65.06996h53.609612v24.687923c-8.583231 6.759691-14.404019 16.751788-14.404019 28.510087 0 20.335386 16.519366 36.854752 36.854752 36.854752 20.338458 0 36.798439-16.519366 36.798439-36.854752 0-11.758299-5.820788-21.750396-14.34361-28.510087v-24.687923h93.69677v24.687923c-8.580159 6.759691-14.400947 16.751788-14.400947 28.510087 0 20.335386 16.516294 36.854752 36.798439 36.854752 20.335386 0 36.854752-16.519366 36.854752-36.854752 0-11.69789-5.820788-21.689987-14.34361-28.45275v-24.744236h93.69677v24.687923c-8.522821 6.759691-14.400947 16.751788-14.400947 28.510087 0 20.335386 16.458957 36.854752 36.795367 36.854752 20.338458 0 36.854752-16.519366 36.854752-36.854752 0-11.69789-5.817716-21.689987-14.340537-28.45275v-24.744236h93.696769V272.387285c-8.522821 6.759691-14.404019 16.751788-14.404018 28.510086 0 20.335386 16.458957 36.854752 36.798438 36.854753 20.338458 0 36.854752-16.519366 36.854753-36.854753 0-11.69789-5.817716-21.689987-14.34361-28.452749v-24.744236h51.728734v496.046842z"
                  fill="#F4CE73" />
                <path d="M216.960276 281.58587l-52.902107 52.928728-25.392356-25.422048 52.903131-52.902107z"
                  fill="#FFFFFF" />
              </svg>
            </div>
            <div class="h4 mt-3">Đơn hàng hoàn thành</div>
            <div id="orderDone" class="h4 mt-3">{{ statusCount.orderCount }}</div>
          </div>

        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <div id="userIcon" class="display-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon"
                version="1.1">
                <path d="M154 260h568v700H154z" fill="#FF3B30" />
                <path
                  d="M624.428 261.076v485.956c0 57.379-46.737 103.894-104.391 103.894h-362.56v107.246h566.815V261.076h-99.864z"
                  fill="#030504" />
                <path
                  d="M320.5 870.07c-8.218 0-14.5-6.664-14.5-14.883V438.474c0-8.218 6.282-14.883 14.5-14.883s14.5 6.664 14.5 14.883v416.713c0 8.219-6.282 14.883-14.5 14.883zM543.5 870.07c-8.218 0-14.5-6.664-14.5-14.883V438.474c0-8.218 6.282-14.883 14.5-14.883s14.5 6.664 14.5 14.883v416.713c0 8.219-6.282 14.883-14.5 14.883z"
                  fill="#152B3C" />
                <path d="M721.185 345.717v-84.641H164.437z" fill="#030504" />
                <path d="M633.596 235.166l-228.054-71.773 31.55-99.3 228.055 71.773z" fill="#FF3B30" />
                <path
                  d="M847.401 324.783c-2.223 0-4.475-0.333-6.706-1.034L185.038 117.401c-11.765-3.703-18.298-16.239-14.592-27.996 3.706-11.766 16.241-18.288 27.993-14.595l655.656 206.346c11.766 3.703 18.298 16.239 14.592 27.996-2.995 9.531-11.795 15.631-21.286 15.631z"
                  fill="#FF3B30" />
              </svg>
            </div>
            <div class="h4 mt-3">Đơn hàng đã hủy</div>
            <div id="orderCancel" class="h4 mt-3">{{ statusCount.cancelCount }}</div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <div id="userIcon" class="display-4">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="100px"
                width="100px" version="1.1" id="Layer_1" viewBox="0 0 503.315 503.315" xml:space="preserve">
                <g>
                  <g>
                    <path style="fill:#797979;"
                      d="M156.199,429.556c0-23.96-19.43-43.39-43.39-43.39s-43.39,19.43-43.39,43.39    s19.43,43.39,43.39,43.39S156.199,453.516,156.199,429.556" />
                    <path style="fill:#797979;"
                      d="M494.64,429.556c0-23.96-19.43-43.39-43.39-43.39c-23.96,0-43.39,19.43-43.39,43.39    s19.43,43.39,43.39,43.39C475.21,472.946,494.64,453.516,494.64,429.556" />
                  </g>
                  <g>
                    <path style="fill:#C0C0C0;"
                      d="M112.809,446.912c-9.58,0-17.356-7.775-17.356-17.356s7.775-17.356,17.356-17.356    s17.356,7.775,17.356,17.356S122.39,446.912,112.809,446.912" />
                    <path style="fill:#C0C0C0;"
                      d="M451.25,446.912c-9.58,0-17.356-7.775-17.356-17.356s7.775-17.356,17.356-17.356    s17.356,7.775,17.356,17.356S460.83,446.912,451.25,446.912" />
                  </g>
                  <polygon style="fill:#C69666;" points="0,308.064 121.492,308.064 121.492,186.573 0,186.573  " />
                  <path style="fill:#337FAA;"
                    d="M234.301,73.759c0-23.96-19.43-43.39-43.39-43.39s-43.39,19.43-43.39,43.39s19.43,43.39,43.39,43.39   S234.301,97.719,234.301,73.759" />
                  <polygon style="fill:#F89954;"
                    points="416.538,212.607 399.182,212.607 381.826,203.929 381.826,169.217 399.182,160.539    416.538,160.539  " />
                  <path style="fill:#48A0DC;"
                    d="M282.811,272.379c-3.046-9.745-12.071-16.384-22.285-16.384h-0.191h-43.39l-0.009-43.39h77.182   c8.643,0,16.662-5.91,18.05-14.44c1.762-10.873-6.578-20.272-17.122-20.272h-60.746V147.52c0-16.775-13.598-30.373-30.373-30.373   h-17.356c-16.775,0-30.373,13.598-30.373,30.373V277.69c0,16.775,13.598,30.373,30.373,30.373h65.085l26.034,86.78h43.39   L282.811,272.379z" />
                  <path style="fill:#FFD479;"
                    d="M490.611,345.722c-11.923-13.564-29.844-20.298-47.902-20.298h-8.817   c-5.406-27.075-24.125-49.577-49.759-59.826l-2.308-0.92v-95.458h-86.78v8.678c9.589,0,17.356,7.767,17.356,17.356   c0,9.58-7.767,17.356-17.356,17.356v8.678h52.068v104.136v69.424H208.264l11.871-26.928c3.627-10.9,5.484-22.302,5.484-33.783   c0.009-14.379-11.655-26.069-26.034-26.069H34.705c-14.379,0-26.034,11.654-26.034,26.034v10.769c0,4.426,2.517,8.261,6.205,10.717   c11.134,7.411,14.536,22.233,7.749,33.757l-11.064,18.805c-5.233,6.552-3.107,16.263,4.4,20.011   c1.831,0.92,3.844,1.397,5.892,1.397h21.53c0-38.287,31.145-69.424,69.424-69.424s69.424,31.137,69.424,69.424h199.593   c0-38.279,31.154-69.424,69.424-69.424c30.92,0,40.812,6.101,52.068,17.356C503.315,365.508,498.464,354.661,490.611,345.722" />
                  <polygon style="fill:#E8D5B2;" points="43.39,221.285 78.102,221.285 78.102,186.573 43.39,186.573  " />
                  <path style="fill:#337FAA;"
                    d="M216.945,221.285c-14.345,0-26.025-11.672-26.025-26.025v-26.043c0-4.79,3.879-8.678,8.678-8.678   c4.799,0,8.678,3.888,8.678,8.678v26.043c0,4.782,3.888,8.669,8.669,8.669c4.799,0,8.678,3.888,8.678,8.678   S221.744,221.285,216.945,221.285" />
                </g>
              </svg>
            </div>
            <div class="h4 mt-3">Số lượng Shipper</div>
            <div id="shipper" class="h4 mt-3">{{ countShipper}}</div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <div id="userIcon" class="display-4">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="100px"
                width="100px" version="1.1" id="Layer_1" viewBox="0 0 511.985 511.985" xml:space="preserve">
                <polygon style="fill:#F6BB42;"
                  points="405.331,10.66 106.66,10.66 0,117.329 0,192.656 511.984,207.217 511.984,117.329 " />
                <polygon style="fill:#FFCE54;"
                  points="394.643,501.325 0,501.325 0,117.329 511.984,117.329 511.984,383.985 " />
                <polygon style="fill:#E6E9ED;" points="298.647,10.66 213.329,10.66 191.994,138.657 319.99,138.657 " />
                <polygon style="fill:#F5F7FA;"
                  points="319.99,213.326 298.647,223.983 277.335,213.326 255.992,223.983 234.657,213.326   213.329,223.983 191.994,213.326 191.994,117.329 319.99,117.329 " />
                <g>
                  <path style="fill:#434A54;"
                    d="M159.995,394.641H53.334c-5.891,0-10.672,4.781-10.672,10.688c0,5.875,4.781,10.656,10.672,10.656   h106.661c5.891,0,10.663-4.781,10.663-10.656C170.658,399.423,165.886,394.641,159.995,394.641z" />
                  <path style="fill:#434A54;"
                    d="M106.66,437.327H53.334c-5.891,0-10.672,4.75-10.672,10.656c0,5.875,4.781,10.656,10.672,10.656   h53.326c5.891,0,10.672-4.781,10.672-10.656C117.332,442.077,112.551,437.327,106.66,437.327z" />
                </g>
                <path style="fill:#ED5564;"
                  d="M277.335,383.985c0-64.811,52.529-117.332,117.309-117.332c64.811,0,117.341,52.521,117.341,117.332  s-52.53,117.34-117.341,117.34C329.864,501.325,277.335,448.796,277.335,383.985z" />
                <path style="fill:#434A54;"
                  d="M447.455,421.704L447.455,421.704l-42.124-42.125v-59.592c0-5.906-4.781-10.656-10.688-10.656  c-5.875,0-10.655,4.75-10.655,10.656v63.998c0,2.938,1.188,5.625,3.125,7.531l0,0l45.249,45.248l0,0  c4.172,4.188,10.921,4.188,15.093,0C451.611,432.608,451.611,425.86,447.455,421.704z" />
              </svg>
            </div>
            <div class="h4 mt-3">Đơn hàng đang giao</div>
            <div id="shipping" class="h4 mt-3">{{ statusCount.shipping }}</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="userDashboard.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>